* {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  margin-bottom: 100px;
  background-color: #ffffff;
  border-bottom: 15px solid #000000;
  height: 182px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header li {
  text-decoration: none;
}
header li:visited {
  color: #3566af;
}
header li a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-weight: 900;
  text-transform: uppercase;
}
header li a:hover {
  color: #3563ad;
  border-bottom: 3px solid #ffcb03;
}

.buscador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 53px;
}

input[type=search] {
  padding: 7px;
  border-radius: 16px;
  width: 200px;
  border: 3px solid #000000;
}

::-moz-placeholder {
  color: rgb(159, 158, 158);
  text-align: center;
  font-size: 9px;
  font-family: "Press Start 2P", cursive;
}

::placeholder {
  color: rgb(159, 158, 158);
  text-align: center;
  font-size: 9px;
  font-family: "Press Start 2P", cursive;
}

/*input[type="submit"] {
    padding: 5px 12px;
    border: 3px solid #3069b2;
    border-radius: 5px;
    background-color: #ffcb03; 
    font-weight: 500;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #ffcb03;
}*/
.container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  display: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color: #00235B;
  /* font-weight: 800; */
  line-height: 0.0625;
  letter-spacing: 1.3px;
  font-size: 0.9rem;
  margin-top: 34px;
  margin-bottom: 22px;
  font-family: "Press Start 2P", cursive;
}

ol#pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
}

li div {
  padding: 20px 15px 14px;
  border-radius: 13px;
  width: 156px;
  display: flex;
  flex-direction: column;
  border: 6px solid #326bb2;
  box-shadow: 0px 0px 17px 2px #aaaaaa;
  filter: grayscale(1);
  background-image: radial-gradient(circle at 46.39% 46.39%, #ffff41 0, #ffff29 25%, #f8d110 50%, #cfa000 75%, #a87600 100%);
}

li div:hover {
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  filter: none;
}

div img {
  border: 2px solid #606060;
  background: url(../img/fondo-pokemones.png);
  background-position-x: 656.3px;
  background-size: 400px;
}

p {
  font-weight: 500;
  color: #414040;
}

p.tipo {
  margin-bottom: 7px;
  text-align: center;
  font-size: 0.9rem;
  text-transform: capitalize;
}

p.id {
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}

.container-todo {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.09);
  font-family: "Open Sans", sans-serif;
  border-radius: 7px;
}
.container-todo h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}
.container-todo .search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.container-todo form {
  display: flex;
}
.container-todo input {
  padding: 15px 10px;
  outline: none;
  width: 400px;
  border: 3px solid #000000;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.container-todo .li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}
.container-todo ul {
  padding: 0;
}
.container-todo li {
  list-style: none;
  background-color: #e9e8e8;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.container-todo li p {
  margin: 0;
  padding: 8px;
  width: 100%;
  padding-left: 25px;
}
.container-todo li > button {
  margin-left: auto;
  border: none;
  background-color: #3366b0;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 1.2em;
}
.container-todo li > button:hover {
  cursor: pointer;
  background-color: #ffcb03;
}
.container-todo .btn-add {
  padding: 5px 15px;
  color: black;
  font-family: fantasy;
  background-color: #ff1b1c;
  font-size: 1.4rem;
  outline: none;
  border: 3px solid #000000;
  border-right-width: none;
  border-radius: 0px 5px 5px 0px;
}
.container-todo .btn-add:hover {
  cursor: pointer;
  background-color: rgb(255, 203, 3);
  color: #3069b2;
}
.container-todo .empty {
  color: darkslategrey;
}
.container-todo .empty p {
  text-align: center;
}
.container-todo ::-moz-placeholder {
  color: rgb(159, 158, 158);
  font-size: 12px;
  font-family: "Open Sans", sans-serif !important;
  text-align: left;
}
.container-todo ::placeholder {
  color: rgb(159, 158, 158);
  font-size: 12px;
  font-family: "Open Sans", sans-serif !important;
  text-align: left;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  background-attachment: fixed;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}/*# sourceMappingURL=styles.css.map */